<div id="main-wrapper">
  <!-- ============================================================== -->
  <!-- header component -->
  <!-- ============================================================== -->
  <app-header></app-header>
  <!-- ============================================================== -->
  <!-- header component end -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- sidebar component -->
  <!-- ============================================================== -->
  <app-sidebar></app-sidebar>
  <!-- ============================================================== -->
  <!-- sidebar component end -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <app-breadcrumbs></app-breadcrumbs>
      <!-- My routes System-->
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">© 2017 Admin Pro by wrappixel.com</footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->
</div>
